:root{
    --gradient-initial:rgba(255, 8, 8, 0.3);
    --gradient-finish:rgba(255, 93, 93, 0.3);
    --width : 40%;
    --height: 95%;
    --border-radius:15px;
}
*{
    font-family: 'Caveat', cursive;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*Fondo*/
.contenedor{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    background-image: linear-gradient(to right, var(--gradient-initial) 0%, var(--gradient-finish) 100%),url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/* Contenedor Lista*/
.lista-de-tareas{
    margin-top: 20px;
    width: var(--width);
    height: var(--height);
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border-radius: var(--border-radius);
}
/* titulo input y boton add*/
.lista{
    margin-top:10px;
}
h1{
    text-align:center;
}
.camp-text{
    font-size:25px;
    width: 70%;
    margin-left: 15px;
    border-radius: 5px;
    text-align:center;
}
.añadir{
    font-size: 25px;
    width: 20%;
    border:none;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border-radius: var(--border-radius);
    cursor: pointer;
}
.añadir:hover{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.bx{
    padding-top:3px;
}
/* Lista elementos y boton borrar*/
.contenedor-notas{
    width: 90%;
    height: 75%;
    font-size: 30px;
    overflow:auto;
    margin-left:20px;
    text-align: center;
}
li{
    margin-top:15px;
    list-style: none;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    border-radius: var(--border-radius);
}

.bx-trash{
    float:right;
    cursor:pointer;
}
.bx-checkbox{
    cursor:pointer;
    float:left;
}
.bxs-checkbox-checked{
    cursor:pointer;
    float:left;
}
.borrar-todo{
    font-size: 30px;
    margin-top:25px;
    width: 45%;
    border:none;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border-radius: var(--border-radius);
    cursor: pointer;
}
.borrar-todo:hover{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.borrar-todo i{
    float:right;
}


@media only screen and (max-width:1050px){
    .lista-de-tareas{
        width:100%;
        height: 100vh;
        margin-top:0px;
    }
    h1{
        font-size: 50px;
    }
    .lista{margin-top:35px;}
    .camp-text{
        margin-top:15px;
        font-size: 40px;
    }
    .añadir{
        margin-left:15px;
        font-size: 40px;
    }
    ul{margin-top:55px;}
    li{
        margin-top:15px;
        font-size: 50px;
    }
    .borrar-todo{
        font-size: 40px;
        margin-top:25px;
    }

}
@media only screen and (max-width:650px){
  .borrar-todo{
      width:80%;
  }
}